html, body{
  background-color: black;
  color: white;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  height: 100%;
}
.top_right_logo{
  position: absolute;
  top: 20px;
  right: 30px;
  text-decoration: none;
  width: 100px; /* Adjust the width as needed for a 500x500 image */
  height: auto; /* Maintain aspect ratio */
  max-width: 20%; /* Set a maximum width */
  max-height: 100px; /* Set a maximum height */
}

    @media screen and (min-width: 1300px) {
      body {
        margin-bottom: 21.5%;
        margin-left: -18%;
        min-height: 26.5vh;
        overflow-y: auto;
        max-height:max-content;      
      }
    }
    
    @media screen and (max-width: 1300px) {
      body {
        flex: 1 0 auto;
        margin-left: -26%;
        min-height: 100vh;
        overflow-y: auto;
        max-height:max-content;
      }
    }
    
    @media screen and (max-width: 900px) {
      body {
        margin-top: -4em;
        margin-left: -40%;
        min-height: 55%;
        overflow-y: auto;
        max-height:max-content;
      }
    }
    
    @media screen and (max-width: 650px) {
      body {
        margin-left: -6em;
        padding-bottom: 23%;
        overflow-y: auto;
        max-height: max-content;
      }
    }
    
    @media only screen and (max-width: 500px) {
      body {
        margin: 0;
        min-width: 10em;
        text-align: center;
        max-height:max-content;
        margin-top: -7em;
        padding-bottom: 55%;
        overflow-y: auto;
      }
    }
    
    @media only screen and (max-width: 400px) {
      body {
        margin-top: -5em;
        overflow-y: auto;
        max-height:max-content;
      }
    }