.main_container{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  overflow-y: scroll;
  font-size: small; 
  margin: 0;
  padding: 0;
 }
 span{
  margin-bottom: 10px;
 }
 .top_right_logo{
  position: fixed;
  right: 1em;
  z-index: 1;
 }
 .top_text{
  position: absolute;
  max-width: 22em;
  top: 3em;
  right: 25em;
 }
 .swoosh{
  position: absolute;
  left: 1em;
  max-width: 20em;
  top: 2em;
  img{
    position: fixed;
    max-width: 50em;
    max-height: 50em;
  }
  span{
    position: relative;
    top: 1em;
    left:2em;
    font-size: xx-large;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
  }
  
 }
 .left_selection{
  position: absolute;
  background: url('/images/leftback.png') no-repeat center center;
  background-size: cover;
  top: 15em;
  left: 1em;
  max-height: 32em;
  max-width: 47%;
  border: 0.1px solid grey;
  border-radius: 17px;
  p, table, button, span{
    margin: 10px 10px 10px 10px;
    line-height: 1.1em;
  }
  table{
    width: 90%;
    border-collapse:separate;
    tr {
      
      &:nth-child(even) {
                background-color: rgba(113, 110, 110, 0.715);         
      }

      td {
        padding: 3px; 
        border-radius: 5px;          
      }
      
    }
  }
  button{
    cursor: pointer;
    border-radius: 20px;
    width: 40%;
    padding: 10px; 
    font-size: small;
    
   
    &:not(:focus) {
      background-color: rgba(255, 98, 0, 0.868);
      color: white;
      outline: none;
    }
  
    &:focus {
      background-color: rgba(147, 59, 5, 0.749);
      color: white;
      outline: none;
   }
   }
 }
 .right_selection{
  position: absolute;
  background: url('/images/rightback.png') no-repeat center center;
  background-size: cover;
  top: 15em;
  right: 1em;
  max-height: 32em;
  max-width: 47%;
  border: 0.1px solid grey;
  border-radius: 17px;
  p, table, button, span{
    margin: 10px 10px 10px 10px;
    line-height: 1.1em;
  }
  table{
    width: 90%;
    border-collapse:separate;
    tr {
      &:nth-child(even) {
        background-color: rgba(113, 110, 110, 0.715); 
        
      }

      td {
        padding: 3px; 
        border-radius: 5px;          
      }
    }
  }
  button{
    cursor: pointer;
    border-radius: 20px;
    width: 40%;
    padding: 10px; 
    font-size: small;
    
   
    &:not(:focus) {
       background: linear-gradient(to right, #0735ce, #1abc9c); /* Set your color values */
      color: white;
      outline: none;
    }
  
    &:focus {
      background: linear-gradient(to right, #1abc9c, #0735ce);  /* Reverse the colors on hover */
      color: white;
      outline: none;
   }
   } 
 }
 .club_benefits{
  position: absolute;
  top: 44em;
  left: 1em;
  min-width: 47%;
  line-height: 1.1em;
  table{
    min-width: 90%;
    border-collapse:separate;
    tr {
      &:nth-child(even) {
        background-color: rgba(113, 110, 110, 0.715); 
        
      }

      td {
        padding: 3px; 
        border-radius: 5px;          
      }
    }
  }
 }
 .paygo_benefits{
  position: absolute;
  top: 44em;
  right: 1em;
  min-width: 47%;
  line-height: 1.1em;
  table{
    min-width: 90%;
    border-collapse:separate;
    tr {
      &:nth-child(even) {
        background-color: rgba(113, 110, 110, 0.715); 
        
      }

      td {
        padding: 3px; 
        border-radius: 5px;          
      }
    }
  }
 }
 .span_left{
  position: absolute;
  top: 60em;
  left: 1em;
 }
 .span_right{
position: absolute;
top: 60em;
  right: 30em;
 }
 .grid_container1{
  position: absolute;
  top:62em;
  left: 1em;
  min-width: 47%;
  display: grid;
  line-height: 1.1em;
  grid-template-columns: auto auto auto;
  
}
 .grid_container2{
  position: absolute;
  top:62em;
  right: 1em;
  min-width: 47%;
  display: grid;
  line-height: 1.1em;
  grid-template-columns: auto auto auto;

 }
 .grid_item{
  max-height: max-content;
  border-radius: 0.5em;
  background-color: rgba(113, 110, 110, 0.473); 
  border-bottom: 6px solid rgba(0, 0, 0, 0.8);
  border-right: 10px solid rgba(0, 0, 0, 0.8);
  p{
    position: relative;
    margin-top: 0;
    padding-left: 6px;
  }
  
  img {
    position: relative;
    padding: 0;
    max-width: 70%;
    max-height: 60%;
   
  }

 }
 .footer{
  position: absolute;
  top: 100em;
  left: 50em;
  bottom: 0;
  transform: translate(-50%, -50%);
  min-width:auto;
  text-align: center;
 }
 
 // RESPONSIVENESS //
 @media screen and (width >1300px) {
  .top_text{
    max-width: 50%;
    top: 5em;
    right: 2em;
   }
   .left_selection{
    top:15em;
    max-width: 47%;
    left: 1em;
   }
   .right_selection{
    top:15em;
    max-width: 47%;
    right: 1em;
   }
   .club_benefits{
    top:48em;
    max-width: 47%;
    left:1em;
   }
   .paygo_benefits{
    top:48em;
    max-width: 47%;
    right:1em;    
   }
   .span_left{
    top:63em;
    left:1em;
    min-width: 10em;
   }
   .grid_container1{
    top: 65em;
    max-width: 47%;
    left: 1em;
   }
   .span_right{
    top:63em;
    right:1em;
    min-width: 47%;
   }
   .grid_container2{
    top: 65em;
    max-width: 47%;
    right: 1em;
   }
   .footer{
    top: 107em;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    min-width: 25em;
   }
 }
 @media screen and (width <1300px) {
  .top_text{
    max-width: 50%;
    top: 5em;
    right: 2em;
   }
   .left_selection{
    top:15em;
    max-width: 47%;
    left: 1em;
   }
   .right_selection{
    top:15em;
    max-width: 47%;
    right: 1em;
   }
   .club_benefits{
    top:48em;
    max-width: 47%;
    left:1em;
   }
   .paygo_benefits{
    top:48em;
    max-width: 47%;
    right:1em;    
   }
   .span_left{
    top:63em;
    left:1em;
    min-width: 10em;
   }
   .grid_container1{
    top: 65em;
    max-width: 47%;
    left: 1em;
   }
   .span_right{
    top:63em;
    right:1em;
    min-width: 47%;
   }
   .grid_container2{
    top: 65em;
    max-width: 47%;
    right: 1em;
   }
   .footer{
    top: 107em;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    min-width: 25em;
   }
 }
 @media screen and (width <1000px) {
  .top_text{
    max-width: 50%;
    top: 5em;
    right: 2em;
   }
   .left_selection{
    top:15em;
    max-width: 47%;
    left: 1em;
   }
   .right_selection{
    top:15em;
    max-width: 47%;
    right: 1em;
   }
   .club_benefits{
    top:48em;
    max-width: 47%;
    left:1em;
   }
   .paygo_benefits{
    top:48em;
    max-width: 47%;
    right:1em;    
   }
   .span_left{
    top:63em;
    left:1em;
    min-width: 10em;
   }
   .grid_container1{
    top: 65em;
    max-width: 47%;
    left: 1em;
   }
   .span_right{
    top:63em;
    right:1em;
    min-width: 47%;
   }
   .grid_container2{
    top: 65em;
    max-width: 47%;
    right: 1em;
   }
   .footer{
    top: 107em;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    min-width: 25em;
   }
 
}
@media only screen and (width<700px) {
    .top_text{
      min-width: 15em;
      top: 5em;
      left: 26em;
     }
     .left_selection{
      top:15em;
      min-width: 35em;
      left: 3em;
     }
     .right_selection{
      top:45em;
      min-width: 35em;
      left: 3em;
     }
     .club_benefits{
      top:75em;
      min-width: 18em;
      left:3em;
     }
     .paygo_benefits{
      top:75em;
      min-width: 18em;
      left:21em;
      
     }
     .span_left{
      top:90em;
      left:3em;
      min-width: 10em;
     }
     
     .grid_container1{
      top: 92em;
      min-width: 35em;
      left: 3em;
     }
     .span_right{
      top:125em;
      left:3em;
      min-width: 10em;
     }
     .grid_container2{
      top: 127em;
      min-width: 35em;
      left: 3em;
     }
     .footer{
      top: 143em;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: 0;
      min-width: 25em;
     }
}

@media only screen and (width< 400px) {
  .top_text{
    max-width: 15%;
    top: 5em;
    left: 23em;
   }
   .left_selection{
    top:15em;
    max-width: 50%;
    left: 1em;
   }
   .right_selection{
    top:45em;
    max-width: 50%;
    left: 1em;
   }
   .club_benefits{
    top:75em;
    min-width: 18em;
    left:1em;
   }
   .paygo_benefits{
    top:75em;
    min-width: 18em;
    left:19em;
    
   }
   .span_left{
    top:90em;
    left:1em;
    max-width: 50%;
   }
   
   .grid_container1{
    top: 92em;
    max-width: 50%;
    left: 1em;
   }
   .span_right{
    top:125em;
    left:1em;
    max-width: 10%;
   }
   .grid_container2{
    top: 127em;
    max-width: 50%;
    left: 1em;
   }
   .footer{
    top: 143em;
    left: 19em;
    transform: translate(-50%, -50%);
    bottom: 0;
    min-width: 25em;
   }
}